<div>
<main class="d-flex align-items-center min-vh-50 py-3 py-md-0">
           <div class="container">
             <div class="card login-card">
                     
                     <form [formGroup]="createTicketForm" #createTicket (ngSubmit)="CreateTicket(createTicket)">
                         <div class="form-group">
                           <label for="companyName" class="sr-only">Company Name</label>
                           <input [readonly]="true" formControlName="companyName" type="text" name="companyName" id="companyName" class="form-control" placeholder="Enter Company Name" [(ngModel)]="CuurentcompanyName">
                         </div>

                         <div class="form-group">
                           <label for="model" class="sr-only">Model</label>
                           <input formControlName="model" type="text" name="model" id="model" class="form-control" placeholder="Enter Model" >
                           <!-- <div class="alert alert-danger" *ngIf = "(Model.touched)" style="margin-top: 5px;">
                           <span *ngIf="Model.errors.required"> *Model is required</span>
                          </div> -->
                         </div>

                         <div class="form-group mb-4">
                           <label for="serialNo" class="sr-only">SerialNo</label>
                           <input formControlName="serialNo" type="text" name="serialNo" id="serialNo" class="form-control" placeholder="Enter SerialNo">
                           <!-- <div class="alert alert-danger" *ngIf = "(SerialNo.touched)" style="margin-top: 5px;">
                           <span *ngIf="SerialNo.errors.required"> *SerialNo is required</span>
                           </div> -->
                         </div>

                         <div class="form-group mb-4">
                           <label for="mcType" class="sr-only">McType</label>
                           <input formControlName="mcType" type="text" name="mcType" id="mcType" class="form-control" placeholder="Enter McType">
                           <!-- <div class="alert alert-danger" *ngIf = "(McType.touched)" style="margin-top: 5px;">
                           <span *ngIf="McType.errors.required"> *McType is required</span>
                          </div> -->
                         </div>

                         <div class="form-group">
                           <label for="problem" class="sr-only">Problem</label>
                           <input formControlName="problem" type="text" name="problem" id="problem" class="form-control" placeholder="Enter problem">
                           <!-- <div class="alert alert-danger" *ngIf = "(Problem.touched)" style="margin-top: 5px;">
                           <span *ngIf="Problem.errors.required"> *Problem is required</span>
                           </div> -->
                         </div>

                         <div class="form-group">
                           <label for="clientComment" class="sr-only">Client Comment</label>
                           <textarea formControlName="clientComment" name="clientComment" id="clientComment" placeholder="Enter Comment" rows="4" cols="50"></textarea>
                           <!-- <span *ngIf="ClientComment.errors?.minlength"> Discription must be at least 5 characters long. </span>
                           <span *ngIf="ClientComment.errors?.maxlength"> Discription can be max 10 characters long. </span> 
                           </div>  -->
                        </div>

                         <input name="rasieTicket" id="rasieTicket" class="btn btn-block login-btn mb-4" type="submit" value="Raise Ticket" >
                     
                        </form>
                     </div>
                 </div>
           </main>  
        </div>