// .panel-heading, .panel-body,.datatable{
//     width: 100%;
//     height: 100%; 
//     display:block; 
//     overflow:auto; 
//     margin-left: 0%;
    
//   }

   .allign{
     width: 95%;
     height: 95%; 
     display:block; 
     overflow:auto; 
     margin-left: 0%;
     margin-bottom: 0%;
   }