
    <div class="panel panel-default">
      <div class="panel-heading">
          <h1 style="text-align: center">Gadgets List</h1><br>
          <div class="row" [hidden]="!deleteMessage">
  
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                            <div class="alert alert-info alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Gadget Data Deleted</strong>
                            </div>
                    </div>
                    <div class="col-sm-4"></div>
            </div>           
        </div>
    
      
      <div class="panel-body">
          <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"  >
              <thead class="thead-light">
                  <tr>
                      <th>Model</th>
                      <th>SerialNo</th>
                      <th>McType</th>
                      <th>Date Of Assign</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                   <tr *ngFor="let gadget of gadgets">
                      <td>{{gadget.model}}</td>
                      <td>{{gadget.serialNo}}</td>
                      <td>{{gadget.mcType}}</td>
                      <td>{{gadget.dateOfAssigne}}</td>
                      <td>{{gadget.status}}</td>
                      <td>
                        <button class='btn btn-danger' (click)="GadgetSelected(gadget)" [disabled]="gadget.status == 'RETURNED'"
                        data-toggle="modal" data-target="#myModal">Report problem</button>
                      </td>
                    </tr> 
              </tbody><br>
          </table>
      </div>
    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form [formGroup]="gadgetform" #createTicket (ngSubmit)="CreateTicket(createTicket)" autocomplete="on">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" style="text-align: center">Report problem</h4>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <div [hidden]="isTicketRaised">

                <div class="form-group">
                  <label for="companyName" class="sr-only">Company Name</label>
                  <input [readonly]="true" formControlName="companyName" type="text" name="companyName" id="companyName" class="form-control" placeholder="Enter Company Name" [(ngModel)]="gadget.companyName">
                </div>

                <div class="form-group">
                  <label for="model" class="sr-only">Model</label>
                  <input formControlName="model" type="text" name="model" id="model" class="form-control" placeholder="Enter Model" [(ngModel)]="gadget.model">
                  <div *ngIf="gadgetform.get('model').invalid && (gadgetform.get('model').dirty || gadgetform.get('model').touched)" class="alert alert-danger">
                    <div *ngIf="gadgetform.get('model').errors.required"> Model is required</div> 
                    <div *ngIf="gadgetform.get('model').errors.maxlength"> Model cannot be more than 20 characters long.</div>
                    <div *ngIf="gadgetform.get('model').errors.minlength"> Model must be at least 3 characters long.</div>                  
                  </div>
                </div>

                <div class="form-group mb-4">
                  <label for="serialNo" class="sr-only">SerialNo</label>
                  <input [readonly]="true" formControlName="serialNo" type="text" name="serialNo" id="serialNo" class="form-control" placeholder="Enter SerialNo" [(ngModel)]="gadget.serialNo">
                  <div *ngIf="gadgetform.get('serialNo').invalid && (gadgetform.get('serialNo').dirty || gadgetform.get('serialNo').touched)" class="alert alert-danger">
                    <div *ngIf="gadgetform.get('serialNo').errors.required"> SerialNo is required</div> 
                    <div *ngIf="gadgetform.get('serialNo').errors.maxlength"> SerialNo cannot be more than 20 characters long.</div>
                    <div *ngIf="gadgetform.get('serialNo').errors.minlength"> SerialNo must be at least 3 characters long.</div>                  
                   </div>
                </div>

                <div class="form-group mb-4">
                  <label for="mcType" class="sr-only">McType</label>
                  <input formControlName="mcType" type="text" name="mcType" id="mcType" class="form-control" placeholder="Enter McType" [(ngModel)]="gadget.mcType">
                  <div *ngIf="gadgetform.get('mcType').invalid && (gadgetform.get('mcType').dirty || gadgetform.get('mcType').touched)" class="alert alert-danger">
                    <div *ngIf="gadgetform.get('mcType').errors.required"> McType is required</div> 
                    <div *ngIf="gadgetform.get('mcType').errors.maxlength"> McType cannot be more than 20 characters long.</div>
                    <div *ngIf="gadgetform.get('mcType').errors.minlength"> McType must be at least 3 characters long.</div>                  
                  </div>
                </div>

                <div class="form-group mb-4">
                  <label for="problem" class="sr-only">Problem</label>
                  <input formControlName="problem" type="text" name="problem" id="problem" class="form-control" placeholder="Enter Problem" [(ngModel)]="gadget.problem">
                  <div *ngIf="gadgetform.get('problem').invalid && (gadgetform.get('problem').dirty || gadgetform.get('problem').touched)" class="alert alert-danger">
                    <div *ngIf="gadgetform.get('problem').errors.required"> Problem is required</div> 
                    <div *ngIf="gadgetform.get('problem').errors.maxlength"> Problem cannot be more than 20 characters long.</div>
                    <div *ngIf="gadgetform.get('problem').errors.minlength"> Problem must be at least 3 characters long.</div>                  
                  </div>
                </div>

                <div class="form-group">
                  <label for="clientComment" class="sr-only">Client Comment</label>
                  <textarea formControlName="clientComment" type="text" name="clientComment" id="clientComment" class="form-control" placeholder="Enter Comment" rows="5" cols="20"></textarea>
                  <div *ngIf="gadgetform.get('clientComment').invalid && (gadgetform.get('clientComment').dirty || gadgetform.get('clientComment').touched)" class="alert alert-danger">
                    <div *ngIf="gadgetform.get('clientComment').errors.required"> Client Comment is required</div> 
                    <div *ngIf="gadgetform.get('clientComment').errors.maxlength"> Client Comment cannot be more than 250 characters long.</div>
                    <div *ngIf="gadgetform.get('clientComment').errors.minlength"> Client Comment must be at least 3 characters long.</div>                  
                  </div>
                </div>

              </div>  
                <div [hidden]="!isTicketRaised">
                    <h4>Ticket Submited Successfuly!</h4>
                </div>        
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer" >
            <button type="submit" class="btn btn-success" [disabled]="isTicketRaised">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="refresh()">Close</button>
          </div>

         </form>
        </div>
      </div>
    </div>